future
emoji==1.7.0
beautifulsoup4
telegraph
hachoir
requests
gpytranslate
tswift
coffeehouse
python-telegram-bot==20.7
motor
numpy
wget
urbandict
pyowm
wikipedia
markdown2
kbbi
feedparser
telethon>=1.28.5
gtts
alphabet_detector
psycopg2-binary
pynewtonmath
pytz
bs4
spongemock
zalgo-text
geopy
nltk
psutil
bleach
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
pyrate-limiter==2.3.4
google_trans_new
jikanpy
pySmartDL
youtube-dl
speedtest-cli
parsel
hurry.filesize
validators
spamwatch
pybase64
cachetools